{% extends 'template.html' %}
{% load static %}

{% block head %}
    <title>Blog - Alpha Tech Academy</title>
{% endblock %}

{% block content %}
{% for blog in blogs %}
<div class="row content-item">
    <div class="ful-width">
        <img src="{{ blog.cover_image.url }}" alt="" class="blog">
    </div>
    <div class="ful-width tag">
        <div><p>{{ blog.posted_at }}</p></div>
        <div><p>Comment {{ blog.comment_count }}</p></div>
    </div>
    <div class="ful-width">
        <h1>{{ blog.title }}</h1>
    </div>
    <div class="ful-width">
        <p>{{ blog.content }}</p>
    </div>
    <div class="ful-width">
        <a href="{% url 'post_description' requested_id=blog.id%}">Baca Selengkapnya</a>
    </div>
</div>
{% endfor %}
{% endblock %}